#about {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#about-img {
    z-index: 222;
    padding: 30px 80px;
    background-image: url('img/coder.png');
    background-size: cover; 
    background-repeat: no-repeat;
}

#about img {
    max-width: 60%;
}

#about-text {
    display: flex;
    justify-content: end;
}

#about-text p:nth-child(1) {
    color: #002265;
    font-size: 20px;
}

#about-text p:nth-child(2) {
    font-weight: bold;
    color: #002265;
    font-size: 40px;
}

#about-text p:nth-child(3) {

}