#navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: auto;
}

#logo {
    width: 30%;
}

#logo img {
    max-width: 150px;
}

#nav-menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#nav-menu li a {
    color: black;
    padding: 6px;
    border-radius: 16px;
}

#nav-menu li a:hover {
    text-decoration: none;
    color: #007bff;
} 