* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
	padding: 30px 60px;
	padding-bottom: 0px; 
	background-image: url('img/background.png');
	background-repeat: repeat;
	background-size: contain; 
}

html {
	scroll-behavior: smooth;
}

.btnScrollToTop {
	border-radius: 200px;
	color: #007bff;
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 20px;
	width: fit-content;
	border: none;
	z-index: 99;
	/* display: none; */
	opacity: 0;
	font-size: 30px;
	transition: all 0.5s ease;
}


#number_view2 {
	width: 40px;
	height: 40px;
	background-color: #007bff;
	border-radius: 200px;
	color: white;
	cursor: pointer;
	position: fixed;
	left: 15px;
	bottom: 30px;
	border: none;
	z-index: 99;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#number_view2::after {
	position: absolute;
	content: 'View CV';
	top: 40px;
	color: #007bff;
	font-size: 15px;
	text-align: center;
	width: 60px;
}